/* REMOVE DEFAULT BROWSER STYLES */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Catamaran', sans-serif;
  color: black;
}

/* GLOBAL CSS VARIABLES */
:root {
  --gray-4: #949494;
  --gray-5: #6E6E6E;
  --gradient: linear-gradient(45deg,
    rgba(27, 11, 219, 0.7),
    rgba(0, 99, 219, 0.7),
    rgba(219, 97, 22, 0.7),
    rgba(219, 189, 22, 0.7),
    rgba(11, 214, 219, 0.7)
  );
  --default-spacing: 1rem;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.2rem;
}

/* ANCHOR LINK COLORS */
a {
  color: black;
}

a:visited {
  color: var(--gray-4);
}

a:hover, a:active {
  color: var(--gray-5);
}

/* NAVIGATION */
nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid black;
}

.menu-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 var(--default-spacing);
}

.menu-ul li {
  display: block;
  font-size: 1.2em;
  font-weight: 200;
}

@media screen and (min-width: 750px) {
  .menu-ul {
    flex-direction: row;
  }

  .menu-ul li {
    padding: 0.5rem;
  }
}

.headshot {
  max-width: 70px;
  height: auto;
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
}

/* CONTENT */
main {
  background-image: var(--gradient);
  background-size: 3000%;
  animation: bg-animation 20s infinite alternate;
}

@keyframes bg-animation {
  0% { background-position: left; }
  100% { background-position: right; }
}

/* SECTIONS */
.section-title {
  padding: var(--default-spacing) 0 0 0;
  color: white;
  text-align: center;
}

/* DIVIDERS */
.section-title {
  font-weight: 100;
  font-size: 2.5rem;
  text-transform: uppercase;
}

/* CARDS */
.grid-apps {
  padding: 0 var(--default-spacing) var(--default-spacing) var(--default-spacing);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  -webkit-box-shadow: 0 0 5px 4px rgb(255 255 255 / 15%);
  -moz-box-shadow: 0px 0px 3px 1px rgb(255, 255, 255 / 15%);
  box-shadow: 0 0 5px 4px rgb(255 255 255 / 15%);
}

.card-apps {
  min-width: 300px;
  max-width: 500px;
  background-color: white;
}

.card-image {
  width: 100%;
  display: block;
}

.card-apps .card-details {
  padding: 20px;
}

.details {
  padding: var(--default-spacing);
  display: flex;
  align-items: center;
}

.details__title-wrapper {
  margin-left: var(--default-spacing)
}

section p {
  max-width: 70%;
  padding: 20px;
  margin: 0 auto;
}

section h4 {
  padding: 10px;
  margin-left: 2em;
  font-weight: 600;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 6rem;
  align-items: center;
  border-top: 1px solid black;
  padding: var(--default-spacing)
}

footer a {
  margin: 0.2rem 0;
}

@media screen and (min-width: 750px) {
  footer {
    flex-direction: row;

  }
  footer a {
    margin: 0;
  }
}