/* desktop breakpoint */
/* 950px */

/* REMOVE DEFAULT BROWSER STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Catamaran', sans-serif;
  color: black;

  background-image: var(--gradient);
  background-size: 3000%;
  animation: bg-animation 20s infinite alternate;
}

/* GLOBAL CSS VARIABLES */
:root {
  --gray-4: #949494;
  --gray-5: #6E6E6E;
  --gradient: linear-gradient(45deg,
    rgba(27, 11, 219, 0.7),
    rgba(0, 99, 219, 0.7),
    rgba(219, 97, 22, 0.7),
    rgba(219, 189, 22, 0.7),
    rgba(11, 214, 219, 0.7)
  );
  --default-spacing: 1rem;
  --large-spacing: 2rem;
  --footer-height: 7rem;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.2rem;
}

/* ANCHOR LINK COLORS */
a {
  color: black;
}

a:visited {
  color: var(--gray-4);
}

a:hover, a:active {
  color: var(--gray-5);
}

/* NAVIGATION */
nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid black;
}

.menu-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 var(--default-spacing);
}

.menu-ul li {
  display: block;
  font-size: 1.2em;
  font-weight: 200;
}

@media screen and (min-width: 950px) {
  .menu-ul {
    flex-direction: row;
  }

  .menu-ul li {
    padding: 0.5rem;
  }
}

.headshot {
  max-width: 70px;
  height: auto;
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
}

/* CONTENT */
@keyframes bg-animation {
  0% { background-position: left; }
  100% { background-position: right; }
}

/* SECTIONS */
.section-title {
  padding: var(--default-spacing) 0 0 0;
  color: white;
  text-align: center;
}

/* DIVIDERS */
.section-title {
  font-weight: 100;
  font-size: 2.5rem;
  text-transform: uppercase;
}

/* CARDS */
.grid-apps {
  padding: 0 var(--default-spacing) var(--default-spacing) var(--default-spacing);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-auto-rows: minmax(200px, auto);
}

@media screen and (min-width: 950px) {
  .grid-apps {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: minmax(300px, auto);
  }
}

.card {
  display: flex;
  margin: 10px;
  -webkit-box-shadow: 0 0 5px 4px rgb(255 255 255 / 15%);
  -moz-box-shadow: 0px 0px 3px 1px rgb(255, 255, 255 / 15%);
  box-shadow: 0 0 5px 4px rgb(255 255 255 / 15%);
}

.card.showcased {
  justify-content: flex-start;
}

.card-apps {
  background-color: white;
}

.card-apps .card-details {
  padding: 20px;
}

section h4 {
  padding: 10px;
  margin-left: 2em;
  font-weight: 600;
}

.card-apps p {
  display: none;
}
.card-apps .card-details {
  padding: 0;
}

.card-apps h4 {
  padding: 1rem;
  margin-left: 0;
}

.card-image {
  width: 100%;
  display: block;
  height: 100px;
  object-fit: contain;
}

@media screen and (min-width: 950px) {
  .card-image {
    height: 220px;
  }
}

.tic-tac-toe img,
.background-generator img,
.the-otis-building img,
.flex-and-transition img,
.face-detect img {
  object-fit: cover;
}

.details {
  padding: var(--default-spacing);
  display: flex;
  align-items: center;
}

.details__title-wrapper {
  margin-left: var(--default-spacing)
}

section p {
  max-width: 70%;
  padding: 20px;
  margin: 0 auto;
}

.card-apps.showcased {
  position: fixed;
  top: var(--large-spacing);
  bottom: var(--large-spacing);
  left: var(--large-spacing);
  right: var(--large-spacing);
  max-height: 100%;
  z-index: 11;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background: none;
}

.showcased.card {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.card__showcased-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: white;
  -webkit-box-shadow: 0 0 5px 4px rgb(255 255 255 / 15%);
  -moz-box-shadow: 0px 0px 3px 1px rgb(255, 255, 255 / 15%);
  box-shadow: 0 0 5px 4px rgb(255 255 255 / 15%);
}

.showcased img {
  height: auto;
}

@media only screen and (min-width: 950px) {
  .showcased img {
    max-height: 40rem;
  }
}

.wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
  visibility: hidden;
}

.wrapper.visible {
  visibility: visible;
}

.card-apps.showcased p {
  display: block;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: var(--footer-height);
  align-items: center;
  border-top: 1px solid black;
  padding: var(--default-spacing);

  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}

footer a {
  margin: 0.2rem 0;
}

@media screen and (min-width: 950px) {
  footer {
    flex-direction: row;

  }
  footer a {
    margin: 0;
  }
}